.table-image thead td,th {
        border: 0;
        color: #666;
        font-size: 0.8rem;
      }
 

  .price {
    margin-left: 1rem;
  }
  
  .modal-footer {
    padding-top: 0rem;
  }
  .cart-icon{
    font-size: 30px;
    color: #59A8AB;
    font-weight: bolder;
    cursor: pointer;
  }
  