body{
    background-color: #ccc;
    font-family: 'EB Garamond', serif;
}



/* NAVBAR ---------------------------------------*/

.custom-nav {
    padding: 22px 30px;
    z-index: 9;
    position: fixed;
    width: 100%;
}

.custom-menus {
    /* margin-left: 271px; */
    font-size: 17px;
    text-transform: uppercase;
}

a.nav-link.active.menu-name {
    color: rgb(var(--txts,var(--color_14)))!important;
    transition: var(--trans,color .4s ease 0s);
}
li.nav-item {
    margin: 0px 8px;
}
.pic-with-social{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;

}
img.profile-pic {
    
    width: 25%;
    border-radius: 50%;
}
.pic-with-social :hover{
  opacity: 0.5;
}
.profile-name {
    font-weight: bolder;
    font-size: 37px;
}