video {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  
  .overlay {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay .title-text {
      position: absolute;
      background: #000 none repeat scroll 0 0;
      color: tan;
      font-weight: 600;
      margin: 32rem 3rem 0;
      mix-blend-mode: overlay;
      padding: 5px 15px;
      text-align: center;
      width: 500px;
      
  }
  .profile-name{
      font-weight: bolder;
  }